@model MovieViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Director"></label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ReleaseDate"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Language"></label>
                    <select asp-for="Language" asp-items="@Html.GetEnumSelectList<Language>()" class="form-control">
                        <option>--- Select a language ---</option>
                    </select>
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Summary"></label>
                    <textarea asp-for="Summary" class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>